# Required
# Supports `dev`, `prod`, or `test`
ENVIRONMENT=dev
DB_PORT=5444

# Authentication
COOKIE_SECURE=false
AUTH_URL=https://cas.sfu.ca/cas/serviceValidate

# CORS
ALLOWED_ORIGINS=["http://localhost:8080"]
AUTH_REDIRECTS=["localhost"]

# The filesystem location for images and other media files.
MEDIA_ROOT=/srv/csss/media
# The URL used to access the media files.
MEDIA_BASE_URL=/media
