# Required
# Support `dev`, `prod`, or `test`
ENVIRONMENT=dev
DB_PORT=5444

# Authentication
COOKIE_SECURE=false
AUTH_URL=https://cas.sfu.ca/cas/serviceValidate

# Redirect after authentication
FRONTEND_ORIGIN=http://localhost:8080
